@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,600;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.header {
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b0533;
  position: sticky;
  top: 0;
}

.header > .logo__pageName {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.logo__pageName > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 17px;
}

.myname > .page_name {
  font-size: 22px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 3px;
}

.myname > .name {
  font-size: 6px;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}

.navigation > .nav__links{
  display: flex;
  list-style-type: none;
  padding-right: 25px;
  gap: 8px;
}

.nav__links > li > button {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 12px;
  position: relative;
  padding: 13px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  letter-spacing: 2px;
  transition: background-color .1s ease-in-out;
}

.nav__links > li > button:hover {
  background-color: #271639;
  border-radius: 7px 7px 0 0;
}

.nav__links > li > button:focus {
  border-bottom: 2px solid #fff;
}

.nav__links > li > .home {
  border-bottom: 2px solid #fff;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  background-color: #fff;
  align-items: center;
  position: relative;
}

.side_navigation {
  width: 0;
  height: 100%;
  font-family: 'Poppins';
  background-color: #141ff9;
  overflow-y: auto;
  box-sizing: border-box;
}

.sidenav__logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav__logo img {
  width: 100px;
}

.side_navigation > .lessons {
  display: none;
  overflow-y: auto;
}

.side_navigation .top_label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 35px;
  color: #fff9f9;
  text-align: center;
}

.side_navigation .sidenav > li {
  list-style-type: none;
  padding: 5px 25px;
  transition: 150ms ease-in-out;
}

.side_navigation .sidenav > li button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #e4dddd;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
}

main {
  padding: 25px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  animation: fadein .3s linear 0s 1 normal forwards ;
}

.label_wrapper .top_label {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding: 20px;
  letter-spacing: 5px;
}

.label_wrapper .sublabel {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
}

.homepage .languages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
  width: 13in;
  flex-wrap: wrap;
}

.languages .row {
  display: flex;
  width: max-content;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 35px;
  background-color: #e5e5e5;
  padding: 30px;
  border-radius: 5px;
  transition: .2s ease-in-out;
  gap: 20px;
  cursor: pointer;
}

.wrapper img {
  width: 75px;
}

.wrapper .label {
  letter-spacing: 1px;
}

.wrapper:hover {
  box-shadow: 1px 1px 20px #000;
  transform: translateY(-10px);
}

.topics {
  width: 100%;
  display: none;
  animation: fadein .3s linear 0s 1 normal forwards;
}

.topics > .top_label {
  font-size: 35px;
  font-family: 'Calibri', sans-serif;
  font-weight: 500;
  padding: 20px 20px 20px 10px;
  background-color: #e9e8e8;
  border-radius: 5px;
}

.topic_container {
  background-color: #e9e8e8;
  padding: 20px 20px 20px 10px;
  border-radius: 5px;
}

.top_sublabel {
  font-size: 30px;
  font-family: 'Calibri', sans-serif;
  font-weight: 300;
  margin-bottom: 17px;
  letter-spacing: 1px;
}

.about_page {
  display: none;
  animation: fadein .3s linear 0s 1 normal forwards;
}

.about {
  margin: 0 auto;
  padding: 75px 150px 35px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > .container-1 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 15px;
}

.container-1 > .content_label {
  padding: 15px;
  text-wrap: wrap;
  width: 8in;
  box-sizing: border-box;
}

.content_label > .heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_label > .heading .header-label {
  font-size: 45px;
  font-weight: 500;
}

.about > .goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  width: 12.8in;
}

.goal > .heading {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 25px;
}

.lesson-roadmap {
  font-size: 38px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.8in;
  margin-top: 100px;
  gap: 45px;
}

.roadmap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.roadmap > img {
  width: 70px;
}

.roadmap > p {
  font-size: 16px;
  font-weight: normal;
  width: 8in;
}

.definition > li {
  transform: translateX(25px);
}

.editor {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #09ff00;
  background-color: #140428;
  box-sizing: border-box;
  padding: 25px 25px 25px 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.php_editor {
  color: #fff;
}

.c-editor {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #fff;
  background-color: #121111;
  box-sizing: border-box;
  padding: 25px 25px 25px 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.span {
  font-size: 14px;
  background-color: #d2d2d2; 
  padding: 1px 6px; 
  border-radius: 3px;
}

.editor-output {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #ffffff;
  background-color: #140428;
  box-sizing: border-box;
  padding: 25px 25px 25px 20px;
  border-radius: 5px;
}

.html_codes > p {
  font-family: 'Calibri Light', sans-serif;
  font-size: 30px;
}

.html_history > .top_label {
  font-size: 25px;
  margin-bottom: 15px;
}

.html_history > .table {
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.table > table {
  width: 100%;
  border-collapse: collapse;
}

.table > table td, th {
  border: 1px solid #000;
  padding: 10px 0;
  text-align: center;
  width: 150px;
}

.html-tags > .top_label {
  font-size: 25px;
  margin-bottom: 15px;
}

.html-tags > .description {
  font-size: 16px;
  margin-bottom: 10px;
}

.html-tags > .table > .top_label {
  font-size: 25px;
  margin-bottom: 15px;
}

.comments > .top_label, .semantics > .top_label {
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.comments > .description {
  margin-bottom: 30px;
}

.topics > .sublabel1 {
  margin-top: 15px;
}

.formats > .top_label{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 500;
}

.formats > .description {
  font-size: 16px;
  margin-top: 10px;
}

.formats > .element-list {
  margin-top: 15px;
  font-size: 15px;
  margin-left: 50px;
}

.element-list > li > span {
  color: #ff0000;
}

.semantic_elements > li {
  font-size: 14px;
  font-family: 'Poppins', serif;
  margin: 2px 20px 0;
}

.semantic_elements > li > span {
  background-color: #b3deff;
  padding: 0 7px;
  border-radius: 3px;
  margin-right: 8px;
}

.semantics img {
  margin: 25px 0;
  width: 375px;
  height: 350px;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btns {
  display: flex;
  gap: 8px;
}

.btns > .buttons {
  padding: 3px 5px;
  margin-top: 10px;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
}

.activities {
  width: 0%;
  height: 100%;
  font-family: 'Poppins';
  background-color: #141ff9;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  padding-top: 50px;
  transition: width .3s ease-in-out;
  text-wrap: nowrap;
  position: absolute;
  right: 0;
  top: 0;
}

.activities > .toggle {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 20px;
  transition: .2s ease-in-out;
}

.activities > .top_label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 35px;
  color: #fff9f9;
  text-align: center;
}

.activities .sidenav > li {
  list-style-type: none;
  padding: 5px 25px;
  transition: 150ms ease-in-out;
}

.activities li > a {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #e4dddd;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
}

.activities .sidenav > li:hover {
  background-color: #2c36fa;
  padding-left: 35px;
}

.acts {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.api_container {
  width: 75%;
  height: 100%;
}

.history {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}

.footer {
  width: 100%;
  height: 75px;
  background-color: #1b0533;
  padding: 18px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.social-links {
  display: flex;
  gap: 25px;
}

.links > p > a {
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.links > .icon:hover,
p > a:hover {
  color: rgb(251, 8, 251);
}

.links > .icon {
  color: #fff;
  font-size: 17px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labels {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  line-height: 18px;
}

.labels > .copyright {
  display: flex;
  align-items: center;
  gap: 5px;
}

.source {
  color: #fff;
  font-size: 12px;
}

.source > a {
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat',sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50px);}
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

